<ul>
{{ `{{ range $val := .Projects }}` }}
  <li>{{ `{{ $val.Name }}` }}:
	{{ `{{ if $val.Done }}` }}
		{{ `<a href="/projects/{{ $val.Name }}/combined.webm" >video</a>` | safeHTML }}
		{{ `<a href="/projects/{{ $val.Name }}/combined.md" >markdown</a>` | safeHTML }}
	{{ `{{ else if $val.Error }}` }}
		{{ `<a href="/projects/{{ $val.Name }}/error.txt" >errors</a>` | safeHTML }}
	{{ `{{ else }}` }}
		processing... <a href="/pages/dashboard">refresh</a>
	{{ `{{ end }}` }}
  </li>
{{ `{{ end }}` }}
</ul>
